* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar li a {
    transition: color .3s ease;
}


#top-section {
    background-image: url() no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-category a {
    width: 100%;
}

.grid-sorting-button {
    height: 40px;
    min-width: 102px;
    cursor: pointer;
    border: 2px solid #fff;
    background: #fff;
}

ul{
    list-style: none;
}

.grid-sorting-button {
    color: #fff;
    background: #fe4c50
}

#sales-section {
    background: url(https://i.postimg.cc/ZYsNhvJg/cot.jpg) no-repeat;
    background-position: center;
   
}


#shipping-section {
    background-color: #D3D3D3;
}

.add-to-cart-button {
    background-color: gray;
    width: 100%;
    visibility: visible;
    opacity: 30;
    transition: all .3s ease;
    border-radius: 6px;
}

.add-to-cart-button:hover {
    background-color: brown;
}

.add-to-cart-button a {
    color: #fff;
    width: 100%;
    text-decoration: none;
}

#news-letter-section {
    background-color: gray;
}

#newsletter-email {
    width: 300px;
    height: 46px;
    background: #fff;
}

#contact-support {
    background: #D3D3D3;
}

input[type="text"], input[type="email"], textarea {
    width: 70%;
    border-radius: 6px;
}

.boxed-btn {
    background: gray;
    font-family: "Jost",sans-serif;
    width: 30%;
    border-radius: 6px;
}

.boxed-btn:hover {
    background-color: #ff2020;
}

#news-section {
    background-color: #1e1e27;
}

#about-section {
    background: linear-gradient(45deg, #000000c9, #000000c7), url(https://i.postimg.cc/wvZsLn4z/fashion-image.jpg);
}

